{% extends 'base.html' %}
{% block title %}
Ticket Details
{% endblock %}

{% block content %}
        <h2>Ticket Details</h2><br>
        <h3>{{ ticket.name }}</h3>
        <p><strong>Description:</strong> {{ ticket.description }}</p>
        <p><strong>Assigned To:</strong> {{ ticket.assigned_to }}</p>
        <p><strong>Project:</strong> {{ ticket.project }}</p>
        <p><strong>Status:</strong> {{ ticket.status }}</p>
        <p><strong>Creared At:</strong> {{ ticket.created_at }}</p>
        <p><strong>Work Description:</strong> {{ ticket.comment }} </p>

        <hr>

        <h3>Attachments:</h3>
        <ul class="list-group">
            {% for attachment in ticket_attachments %}
                <li class="list-group-item">
                    <strong>Type:</strong> {{ attachment.attachment_type }}
                    <a href="{{ attachment.attachment.url }}" target="_blank" class="btn btn-primary ml-3">View Attachment</a>
                </li>
            {% empty %}
                <li class="list-group-item">No attachments for this ticket.</li>
            {% endfor %}
        </ul>
        <br>
        <form method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-3">
                    <label for="id_status">Status:</label>
                    <select class="form-control" id="id_status" name="status">
                        <option value="Ongoing" {% if ticket.status == "Ongoing" %}selected{% endif %}>Ongoing</option>
                        <option value="Completed" {% if ticket.status == "Completed" %}selected{% endif %}>Completed</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Update</button>
        </form>
        

        
    {% endblock %}
