{% extends 'base.html' %}
{% block title %}
Dashboard
{% endblock %}

{% block css %}

.hoverable {
    transition: transform 0.3s ease;
}

.hoverable:hover {
    transform: scale(1.05);
}

{% endblock css %}

{% block content %}
<div class="container mt-5">
    {% comment %} <h1 class="text-center mb-4">Ticketing System Dashboard</h1> {% endcomment %}
    <div class="row">
        <div class="col-lg-4">
            <div class="card bg-danger text-white mb-3 hoverable">
                <div class="card-body">
                    <h5 class="card-title">Total Draft Tickets</h5>
                    <p class="card-text display-4 font-weight-bold">{{ total_draft_tickets }}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card bg-warning text-white mb-3 hoverable">
                <div class="card-body">
                    <h5 class="card-title">Total Ongoing Tickets</h5>
                    <p class="card-text display-4 font-weight-bold">{{ total_ongoing_tickets }}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card bg-success text-white mb-3 hoverable">
                <div class="card-body">
                    <h5 class="card-title">Total Completed Tickets</h5>
                    <p class="card-text display-4 font-weight-bold">{{ total_completed_tickets }}</p>
                </div>
            </div>
        </div>
    </div>
    
    

    <!-- Ticket List Section -->
    <h2 class="mt-5 mb-3 text-center">Your Assigned Tickets</h2>
    <form method="GET">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <strong><label for="timeFilter">Filter by Time:</label></strong>
                    <select id="timeFilter" name="timeFilter" class="form-control">
                        <option value="all" {% if filter == "all" %}selected{% endif %}>All</option>
                        <option value="day" {% if filter == "day" %}selected{% endif %}>Last 24 Hours</option>
                        <option value="week" {% if filter == "week" %}selected{% endif %}>Last 7 Days</option>
                        <option value="month" {% if filter == "month" %}selected{% endif %}>Last 30 Days</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    {% csrf_token %}
                    <strong><label for="timeFilter" class="mr-2">assigned_to:</label></strong>
                    <div class="d-flex">
                        {{ my_Filter.form.assigned_to }}
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <strong><label for="timeFilter" class="mr-2">status:</label></strong>
                    <div class="d-flex">
                        {{ my_Filter.form.status }}
                        <button class="btn btn-outline-primary ml-2" type="submit">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    
    
    
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Ticket ID</th>
                    <th>Ticket Name</th>
                    <th>Project Name</th>
                    <th>User Name</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- Populate the table with assigned tickets -->
                {% for ticket in assigned_tickets %}
                    <tr>
                        <td>{{ ticket.id }}</td>
                        <td><a href="{% url 'ticket_detail' ticket_id=ticket.id %}">{{ ticket.name }}</a></td>
                        <td>{{ ticket.project }}</td>
                        <td>{{ ticket.assigned_to }}</td>
                        <td>{{ ticket.status }}</td>
                        <td>
                            {% if ticket.status == 'Draft' %}
                            <a href="{% url 'update_ticket_status' ticket.id %}?status=Ongoing" class="btn btn-sm btn-warning">Set Ongoing</a>
                            <a href="{% url 'ticket_detail' ticket.id %}?status=Completed" class="btn btn-sm btn-success">Set Completed</a>
                            {% elif ticket.status == 'Ongoing' %}
                            <a href="{% url 'ticket_detail' ticket.id %}?status=Completed" class="btn btn-sm btn-success">Set Completed</a>
                            
                            {% elif ticket.status == 'Completed' and request.user.is_superuser %}
                                <a href="{% url 'check_ticket' ticket.id %}" class="btn btn-sm btn-success">Check</a>
                            {% endif %}
                            
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6">No assigned tickets found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    
</div>
{% comment %}<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script>
    // jQuery function to detect change in select element
    $(document).ready(function() {
        $('#timeFilter').change(function() {
            // Trigger form submission on select change
            $(this).closest('form').submit();
        });
    });
</script> {% endcomment %}

    {% endblock %}


