{% extends 'base.html' %}
{% block title %}
  Project List
{% endblock %}

{% block content %}
    <h2>Edit Project</h2>

    <form method="post" action="{% url 'edit_project' project.id %}" class="my-4">
        {% csrf_token %}

        <div class="mb-3">
            <label for="id_name" class="form-label">Name:</label>
            <input type="text" id="id_name" name="name" class="form-control" value="{{ project.name }}" required />
        </div>

        <div class="mb-3">
            <label for="id_description" class="form-label">Description:</label>
            <textarea id="id_description" name="description" class="form-control" required>{{ project.description }}</textarea>
        </div>

        <div class="mb-3">
            <label for="id_status" class="form-label">Status:</label>
            <select id="id_status" name="status" class="form-select">
                <option value="Active" {% if project.status == 'Active' %} selected {% endif %}>Active</option>
                <option value="Inactive" {% if project.status == 'Inactive' %} selected {% endif %}>Inactive</option>
                <option value="Completed" {% if project.status == 'Completed' %} selected {% endif %}>Completed</option>
                <option value="Archived" {% if project.status == 'Archived' %} selected {% endif %}>Archived</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Update Project</button>
    </form>
    {% endblock %}
